<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">title</title>
</head>
<body>
	<section>
		
		<div class="card me-4 ml-3">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				
				<div class="container-fluid mt-1">
					<div class="col-md-10 offset-md-1">
						<form action="#" th:object="${contact}" enctype="multipart/form-data" method="post" th:action="@{/user/process-contact}" class="mt-2">
							<!-- first name -->
							<div class="input-group">
							
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-plus"></i>
									</div>
								</div>
								
								<input required type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" aria-describedby="nameHelp" th:value="${contact.name}">
								<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
							</div>
							
							<!-- second name -->
							<div class="input-group mt-3">
							
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								
								<input required type="text" id="secondName" name="secondName" placeholder="Enter Nick Name here" class="form-control" th:classappend="${#fields.hasErrors('secondName') ? 'is-invalid' : ''}" aria-describedby="secondNameHelp" th:value="${contact.secondName}">
								<div class="invalid-feedback" th:each="e : ${#fields.errors('secondName')}" th:text="${e}"></div>
							</div>
							
							<!-- Phone field -->
							<div class="input-group mt-3">
							
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-phone"></i>
									</div>
								</div>
								
								<input required min ="10" type="number" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" aria-describedby="phoneHelp" th:value="${contact.phone}">
								<div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
							</div>
							
							<!-- Email field -->
							<div class="input-group mt-3">
							
								<div class="input-group-prepend">
									<div class="input-group-text">
										@
									</div>
								</div>
								
								<input required type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" aria-describedby="emailHelp" th:value="${contact.email}">
								<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
							</div>
							
							<!-- work field -->
							<div class="input-group mt-3">
							
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-briefcase"></i>
									</div>
								</div>
								
								<input required type="text" id="work" name="work" placeholder="Enter work here" class="form-control" th:classappend="${#fields.hasErrors('work') ? 'is-invalid' : ''}" aria-describedby="workHelp" th:value="${contact.work}">
								<div class="invalid-feedback" th:each="e : ${#fields.errors('work')}" th:text="${e}"></div>
							</div>
							
							<!-- Contact description field -->
							<div class="form-group mt-3">
								<textarea name="description" id="description" rows="10" class="form-control" placeholder="Enter contact description" th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" aria-describedby="descriptionHelp" th:value="${contact.description}"></textarea>
								<div class="invalid-feedback" th:each="e : ${#fields.errors('description')}" th:text="${e}"></div>
							</div>
							
							<!-- Contact Image -->
							<div class="custom-file">
								<input type="file" name="profileImage"/>
							</div>
							
							<div class="container">
								<button class="btn btn-outline-primary">Save Contact</button>
							
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<!-- <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script>
      		tinymce.init({
        	selector: '#mytextarea'
     		 });
    	</script> -->
		
	</section>
</body>
</html>